<div class="w-full h-full flex justify-center">
<h2 class="text-3xl p-8 text-yellow-300">{{friendAll.username}}'s Friend List:</h2>
{{#each friendAll.user_friends as |friend|}}


          <a href="/profile/${gottenUsers[i].id}"> <div class="card border-black border-2 hover:border-yellow-300 rounded-lg inline-block w-52 h-64 mx-5">
       <div class="container">
           <img style="width: 100px" src={{friend.photo_url}}>
           <h4><b>{{friend.username}}</b></h4>
           <p>{{friend.email}}</p>
           <p>{{friend.location}}</p>
           <p>{{friend.status}}</p>
      </div> </div> </a>
       
{{/each}}

</div>

