<div>
   <h1><span id='id-number'>{{profile.id}} .)  </span>My Profile</h1>
  
   <button id="upload_widget" class="cloudinary-button">Upload Profile Pic</button>
  
      

    <form class='edit profile edit-profile-form'>
         <img id="uploadedImage" style="width: 200px" src={{profile.photo_url}} id='img-preview' />
         <label class='file-upload-container' for='file-upload'>
         <input id='file-upload' type='file' style='display:none;' />
          Click here to save your new profile picture: 
        </label>
       <button id="photo-button" class="hover:border-blue-200 hover:bg-gray-50 rounded w-24 h-10 border-black border-2">Submit</button>
           <div>
        <label for='name'><strong>Full Name:</strong> {{profile.username}}</label>
        <input type='text' />
      </div>
      <div>
        <label for='email-login'><strong>Email:</strong> {{profile.email}}</label>
        <input type='text' />
      </div>
      
      
      
      <div>
        <label for='location'>Update Location:</label>
        <input
          type='location'
          placeholder='{{profile.location}}'
          id='location-update'
          class="form-input border pr-4"
        />
        <button id="location-button" class="hover:border-blue-200 hover:bg-gray-50 rounded w-24 h-10 border-black border-2">Submit</button>
      </div>
      <div>
        <label for='interests'><strong>Interests:</strong></label>
        <p>
          {{#each profile.user_interests as |inter| }}
          {{inter.name}},
          {{/each}}
        </p>
        <input class='form-input border p-3' type='text' id='interests' name='interests' />
        <button id="interests-button" class="hover:border-blue-200 hover:bg-gray-50 rounded w-24 h-10 border-black border-2">Submit</button>
      </div>
      <div>
        <label for='activities'><strong>Activities:</strong></label>
        <p>
          {{#each profile.user_activities as |activ| }}
          {{activ.name}},
          {{/each}}
        </p>
            <br>
            <select id="activity-profile-bar" name="activity-search" class="mt-4 form-input border p-3">
              <option value="1">Stuff Your Face</option>
              <option value="2">Get Schwasted</option>
              <option value="3">Walk Around Trees</option>
              <option value="4">Get Competitive</option>
            </select>
            <br>
            <br>
             <button id="search-act" class="hover:border-blue-200 hover:bg-gray-50 rounded w-24 h-10 border-black border-2">Submit</button>
      </div>
      <div>
        <br>
        <label for='status'>Status: </label>
        <p>{{profile.status}}</p>
        <input type='status' placeholder="Anything new?" id="status-update" class="form-input border pr-4"/>
        <button id="status-button" class="hover:border-blue-200 hover:bg-gray-50 rounded w-24 h-10 border-black border-2">Submit</button>
      </div>
      <div>
      </div>
    </form>
  </div>

</div>
 <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

   <script type="text/javascript">
      const cloudName = "nazik"; // replace with your own cloud name
      const uploadPreset = "ytmjm1cb"; // replace with your own upload preset
      const myWidget = cloudinary.createUploadWidget(
        {
          cloudName: cloudName,
          uploadPreset: uploadPreset,

        },
          
        (error, result) => {
          if (!error && result && result.event === "success") {
            console.log("Done! Here is the image info: ", result.info);
            document.getElementById("uploadedImage").setAttribute("src", result.info.secure_url);

          }
        }
      );

      document.getElementById("upload_widget").addEventListener(
        "click",
        function () {
          myWidget.open();
        },
        false
      );
    </script>
<script src='/js/edit-profile.js'></script>



 
   
